{% extends 'main.html' %}
{% load staticfiles %}

{% block article %}

<header class="masthead" style="background-image: url('{% static '/img/home-bg.jpg' %}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>My Blog</h1>
          <span class="subheading">A Blog for ITMO course</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        {% if latest_article_list %}
            {% for article in latest_article_list %}
                <div class="post-preview">
                  <a href="{% url 'article:article' article.id %}">
                    <h2 class="post-title">
                      {{ article.article_title }}
                    </h2>
                    <h3 class="post-subtitle">
                      {{ article.article_subheading }}
                    </h3>
                  </a>
                  <span class="meta">Posted on {{ article.article_date }}</span>
                  <span class="meta">Likes: {{ article.article_likes }}</span>
                </div>
            {% endfor %}
        {% else %}
            <p>No articles are available.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
