{% extends 'main.html' %}
{% load staticfiles %}

{% block article %}
  <header class="masthead" style="background-image: url('{% static '{{article.article_img}}' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ article.article_title }} </h1>
            <h2 class="subheading">{{ article.article_subheading }}</h2>
            <span class="meta">Posted on {{ article.article_date }}</span>
            <span class="meta">
              <a href="/addLike/{{ article.id }}/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-thumbs-up"></i>
                   {{ article.article_likes }}
                </span>
              </a>
            </span>
            <span class="meta">
              <a href="/edit_article/{{ article.id }}/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                </span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <article>
          <a class="btn btn-default" href="#"><span class="glyphicon glyphicon-pencil"></span></a>
          <p>{{ article.article_text }}</p>
        </article>
        <h2>Comments</h2>
          <form action="/add_comment/{{ article.id }}/"  method="post" name="sentMessage" id="contactForm" novalidate>
            {% csrf_token %}
                <div class="control-group">
                  <div class="form-group floating-label-form-group controls">
                     <label>Message</label>
                      {% for fields in form %}
                            {{ fields }}
                      {% endfor %}
                      <p class="help-block text-danger"></p>
                  </div>
                </div>
                <br>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
                </div>
          </form>
        <hr>
          {% if comments_list %}
              {% for comments in comments_list %}
                <p>{{ comments.comments_text }}</p>
              {% endfor %}
          {% else %}
                <p>No comments are available.</p>
          {% endif %}
      </div>
    </div>
</div>
{% endblock %}
