{% extends 'main.html' %} {% load staticfiles %} {% block article %}
<section>
    <div class="col-lg-8 col-md-10 mx-auto">
        <h1>Article</h1>
        <p>Want something awesome? Fill out the form below!</p>
        <form action="" method="post" name="sentMessage" id="contactForm" enctype="multipart/form-data" novalidate>
            {% csrf_token %} {% for fields in form %}
            <div class="control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    {{ fields }}
                </div>
            </div>
            {% endfor %}
            <br>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}