{% extends 'main.html' %} {% load staticfiles %} {% block article %}
<div class="container">
    <div class="row">
        <main class="posts-listing col-lg-8">
            <div class="container">
                <h6>Для тега {{keyw_s}}:</h6>
                <div class="row">
                    {% if articles %} {% for article in articles %}
                    <div class="post col-xl-6">
                        <div class="post-thumbnail">
                            <a href="{% url 'article:article' article.id %}">
                                <img src="/media/{{ article.article_background}}" alt="{{ article.article_title }}" class="img-fluid">
                            </a>
                        </div>
                        <div class="post-details">
                            <div class="post-meta d-flex justify-content-between">
                                <div class="date meta-last">{{ article.article_date }}</div>
                            </div>
                            <a href="{% url 'article:article' article.id %}">
                                <h3 class="h4">{{ article.article_title }}</h3>
                            </a>
                            <p class="text-muted">{{ article.article_subheading }}</p>
                            <footer class="post-footer d-flex align-items-center">
                                <a href="#" class="author d-flex align-items-center flex-wrap">
                                    <div class="title"><span>{{ article.article_author.get_full_name}}</span></div>
                                </a>
                                <div class="title"><i class="heart-shaped fa fa-heart"></i>{{ article.votes.sum_rating }}</div>
                                <div class="comments meta-last"><i class="icon-comment"></i>{{article.comments_set.count}}</div>
                            </footer>
                        </div>
                    </div>
                    {% endfor %} {% else %}
                    <p>No articles are available.</p>
                    {% endif %}
                </div>
                <div class="row">
                    Все теги: {% for keyword in keywords %}
                    <a href="/keyword/{{ keyword.id }}">{{ keyword.name }}</a> {% if not forloop.last %}, {% endif %} {% endfor %}
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock article %}